.read-movie-container {
  padding: 16px;
}

.add-actor-container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.add-actor-container button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-actor-container button:hover {
  background-color: #45a049;
}

.movie-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.movie-actions button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.movie-actions button:hover {
  background-color: blue;
}


input, select, button {
  display: block;
  margin-top: 5px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}
