<div class="read-movie-container">
  <h2>Read and Update Movie</h2>

  <div>
    <label for="dbSelect">Select Database:</label>
    <select id="dbSelect" [(ngModel)]="selectedDb">
      <option *ngFor="let db of databases" [value]="db">{{ db }}</option>
    </select>
  </div>

  <div>
    <label for="movieId">Movie ID:</label>
    <input id="movieId" type="number" [(ngModel)]="movieId"/>
  </div>

  <button (click)="loadMovie()">Load Movie</button>

  <div *ngIf="movie">
    <h3>Movie Details</h3>
    <form>

      <div>
        <label for="name">Name:</label>
        <input id="name" [(ngModel)]="movie.name" name="name"/>
      </div>


      <div>
        <label for="genre">Genre:</label>
        <input id="genre" [(ngModel)]="movie.genre" name="genre"/>
      </div>

      <div>
        <label for="year">Year:</label>
        <input id="year" type="number" [(ngModel)]="movie.year" name="year"/>
      </div>

      <h4>Director</h4>
      <div>
        <label for="directorFName">First Name:</label>
        <input id="directorFName" [(ngModel)]="movie.director.f_name" name="directorFName"/>
      </div>
      <div>
        <label for="directorLName">Last Name:</label>
        <input id="directorLName" [(ngModel)]="movie.director.l_name" name="directorLName"/>
      </div>
      <div>
        <label for="directorBYear">Birth Year:</label>
        <input id="directorBYear" type="number" [(ngModel)]="movie.director.b_year" name="directorBYear"/>
      </div>

      <h4>Actors</h4>
      <div *ngFor="let actor of movie.actor; let i = index">
        <fieldset>
          <legend>Actor {{ i + 1 }}</legend>
          <div>
            <label>First Name:</label>
            <input type="text" [(ngModel)]="actor.f_name" name="actor_f_name_{{ i }}" required />
          </div>
          <div>
            <label>Last Name:</label>
            <input type="text" [(ngModel)]="actor.l_name" name="actor_l_name_{{ i }}" required />
          </div>
          <div>
            <label>Role:</label>
            <input type="text" [(ngModel)]="actor.role" name="actor_role{{ i }}" required />
          </div>

          <button type="button" (click)="removeActor(i)">Remove Actor</button>
        </fieldset>
      </div>
      <div class="add-actor-container">
        <button type="button" (click)="addActor()">Add Actor</button>
      </div>

    </form>

    <button (click)="updateMovie()">Update whole Movie</button>
    <button (click)="updatePartOfMovie()">Update only part of a Movie</button>
    <button (click)="deleteMovie()">Delete Movie</button>
  </div>
</div>
